<div class="nft-founder-wrap">
    <div class="container">
        <div class="founder-row justify-content-end">
          <div class="founder-col">
            <div class="content">
              <h2 class="title">FOUNDERS</h2>
              <p>
                The founding team has vast experience in blockchain
                technologies, engineering and real estate representing
                hundreds of millions in raises, liquidity events and revenue.
              </p>
            </div>
          </div>
        </div>
        <div class="founder-row">
            <div class="founder-col">
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="../../../assets/images/founders/JeffWoerner.jpg" />
                        <div class="content-popup">
                            <h3 class="title">
                                OVER 20 YEARS OF APPLIED REAL ESTATE ANALYTICS, ASSET ACQUISITION/DISPOSITION STATEGIES AND BUSINESS DEVELOPMENT EXPERIENCE.
                            </h3>
                            <ul>
                                <li>Founder of real estate analytics and consulting companies</li>
                                <li>
                                    Former EVP at The Ryness Company, at the time, the largest new home sales and marketing firm in the US
                                </li>
                                <li>MA, Economics, San Diego State University</li>
                            </ul>
                            <a href="javascript:void(0)" class="linkedin-text">linkedin.com/in/jeffreyswoerner</a>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="name">Jeffery Woerner</span>
                        <span class="position">CEO</span>
                    </div>
                </div>
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="../../../assets/images/founders/JackWilley.jpg" />
                        <div class="content-popup">
                            <h3 class="title">
                                Over 38 years of real estate technology and brokerage experience.
                            </h3>
                            <ul>
                                <li>Founder of multiple real estate product and consulting companies</li>
                                <li>Past EVP at Fidelity National Real Estate Solutions (subsidiary of Fidelity National Financial)</li>
                                <li>
                                    Past consultant to Berkshire Hathaway Homeservices and CTO at large Prudential and Sotheby’s brokerages
                                </li>
                                <li>BS, Computer Science, University of California, Irvine</li>
                            </ul>
                            <a href="javascript:void(0)" class="linkedin-text">linkedin.com/in/jackwilley/</a>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="name">Jack Willey</span>
                        <span class="position">COO</span>
                    </div>
                </div>
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="../../../assets/images/founders/Eric.jpg" />
                        <div class="content-popup">
                            <h3 class="title">
                                OVER 15 YEARS OF SOFTWARE ACHITECTURE, FULL STACK DEVELOPMENT AND PRODUCT MANAGEMENT EXPEREINCE.
                            </h3>
                            <ul>
                                <li>Co-founder of real estate analytics and consulting companies</li>
                                <li>VP of Product Engineering, Trustwave</li>
                                <li>
                                    BS, Math and Computer Science, Colorado State University Pueblo
                                </li>
                            </ul>
                            <a href="javascript:void(0)" class="linkedin-text">linkedin.com/in/ericwoerner</a>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="name">Eric Woerner </span>
                        <span class="position">Vice President of Software Engineering</span>
                    </div>
                </div>
            </div>
            <div class="founder-col">
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="../../../assets/images/founders/Karl.jpg" />
                        <div class="content-popup">
                            <h3 class="title">
                                OVER 10 YEARS OF BLOCKCHAIN AND ENGINEERING EXPERIENCE.
                            </h3>
                            <ul>
                                <li>ConsenSys alumni</li>
                                <li> Founder and CEO of GridPlus, maker of the Lattice1 hardware wallet</li>
                                <li> PhD in Engineering from UT Austin</li>
                            </ul>
                            <a href="javascript:void(0)" class="linkedin-text">linkedin.com/in/kkreder</a>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="name">Karl Kreder PhD</span>
                        <span class="position">Advisor</span>
                    </div>
                </div>
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="../../../assets/images/founders/Sriram.jpg" />
                        <div class="content-popup">
                            <h3 class="title">
                                Over 25 years of experience in Machine Learning/Statistics/AI as a Professor at UT Austin
                            </h3>
                            <ul>
                                <li>Founder of 9 companies across multiple domains, 3 successful exits</li>
                                <li>PhD Stanford, MS Caltech, BTech IIT</li>
                                <li>Over 300 refereed articles and 30 patents</li>
                            </ul>
                            <a href="javascript:void(0)" class="linkedin-text">linkedin.com/in/sriramvishwanath</a>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="name">Sriram Vishwanath PhD</span>
                        <span class="position"> Advisor</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
