<div class="nft-founder-wrap">
    <div class="container">
        <div class="founder-row">
            <div class="founder-col">
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="" />
                        <div class="content-popup">
                            <h3 class="title">
                                Co-Founder – Over 20 years of applied real estate analytics,
                                asset acquisition/disposition strategies and business
                                development.
                            </h3>
                            <ul>
                                <li>Founder of real estate analytics and consulting companies</li>
                                <li>
                                    EVP at The Ryness Company, at the time, the largest US new
                                    home sales and marketing firm
                                </li>
                                <li>MA, Economics, San Diego State University</li>
                            </ul>
                            <a href="#" class="linkedin-text">linkedin.com/in/jeffreyswoerner</a>
                        </div>
                    </div>
                    <div class="meta">
                        <span class="name">Jeffery Woerner</span>
                        <span class="position">CEO</span>
                    </div>
                </div>
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="" />
                    </div>
                    <div class="meta">
                        <span class="name">Jack Willey</span>
                        <span class="position">COO</span>
                    </div>
                </div>
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="" />
                    </div>
                    <div class="meta">
                        <span class="name">Eric Woerner </span>
                        <span class="position">Vice President of Software Engineering</span>
                    </div>
                </div>
            </div>
            <div class="founder-col">
                <div class="content">
                    <h2 class="title">FOUNDERS</h2>
                    <p>
                        The founding team has vast experience in blockchain
                        technologies, engineering and real estate representing
                        hundreds of millions in raises, liquidity events and revenue.
                    </p>
                </div>
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="" />
                    </div>
                    <div class="meta">
                        <span class="name">Karl Kreder PhD</span>
                        <span class="position">CTO</span>
                    </div>
                </div>
                <div class="founder-wrap">
                    <div class="img-box">
                        <img src="" />
                    </div>
                    <div class="meta">
                        <span class="name">Sriram Vishwanath PhD</span>
                        <span class="position">
                            Vice President of
                            Blockchain Engineering
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>