<div class="container">
    <div class="d-flex justify-content-center pt-4 mb-4">
        <div class="card-body">
            <h3 class="text-center hadding">Welcome to Zyfty</h3>
            <div class="row main-row">
                <div class="col-12 col-lg-6 left-section font">
                    <div class="mt-4">
                        <p>Please provide your contact information and verify your identity.</p>
                    </div>
                    <div class="mt-2">
                        <p type="button" class="btn btn-link">Why is Zyfty collecting any information?</p>
                    </div>
                    <div>
                        <p>Zyfty collects an
                            email address in order to send purchased documents
                            necessary to review prior to engaging in an auction to
                            purchase an NFT.</p>
                    </div>
                    <div>
                        <p>Zyfty stores and collects the information required by federal, state, municipal and any
                            other governmental authority where Zyfty conducts business.</p>
                    </div>
                    <div>
                        <p>All personal data is secured with SSL on our website and stored in encrypted,
                            non-public
                            storage.</p>
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div class="col-12 col-lg-6 right-section">
                    <form [formGroup]="personalInfo" (ngSubmit)="onSubmit()" class="registration-form">
                        <div class="form-group">
                            <div class="row mt-4">
                                <div class="col-sm-6 input-container">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" formControlName="firstName"
                                        [ngClass]="{ 'is-invalid': submitted && personalInfo.get('firstName')?.errors }">
                                    <div *ngIf="submitted && personalInfo.get('firstName')?.hasError('required')"
                                        class="invalid-feedback">
                                        First Name is required
                                    </div>
                                    <div *ngIf="submitted && personalInfo.get('firstName')?.hasError('pattern')"
                                        class="invalid-feedback">
                                        Enter only character
                                    </div>
                                </div>
                                <div class="col-sm-6 input-container input-box">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" formControlName="lastName"
                                        [ngClass]="{ 'is-invalid': submitted && personalInfo.get('lastName')?.errors }">
                                    <div class="invalid-feedback"
                                        *ngIf="submitted && personalInfo.get('lastName')?.hasError('required')">
                                        Last Name is required
                                    </div>
                                    <div class="invalid-feedback"
                                        *ngIf="submitted && personalInfo.get('lastName')?.hasError('pattern')">
                                        Enter only character
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-8 input-container mt-2">
                            <label>Email Address</label>
                            <input class="form-control" type="text" formControlName="email"
                                [ngClass]="{ 'is-invalid': submitted && personalInfo.get('email')?.errors }">
                            <div *ngIf="submitted && personalInfo.get('email')?.errors" class="invalid-feedback">
                                <div *ngIf="submitted && personalInfo.get('email')?.hasError('required')">Email
                                    is
                                    required
                                </div>
                                <div *ngIf="submitted && personalInfo.get('email')?.hasError('email')">Email is
                                    invalid
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 input-container mt-2">
                            <label>Country / Region</label>
                            <select class="form-select custom-select classic" formControlName="country"
                                [ngClass]="{ 'is-invalid': submitted && personalInfo.get('country')?.errors }">
                                <option style="background: white; color: black;" value="AL">Alabama</option>
                                <option style="background: white; color: black;" value="AK">Alaska</option>
                                <option style="background: white; color: black;" value="AZ">Arizona</option>
                                <option style="background: white; color: black;" value="AR">Arkansas</option>
                            </select>
                            <div *ngIf="submitted && personalInfo.get('country')?.hasError('required')"
                                class="invalid-feedback">Country is required
                            </div>
                        </div>
                        <div class="form-group mt-2 input-container">
                            <label>Street Address</label>
                            <input class="form-control" type="text" formControlName="street"
                                [ngClass]="{ 'is-invalid': submitted && personalInfo.get('street')?.errors }">
                            <div class="invalid-feedback"
                                *ngIf="submitted && personalInfo.get('street')?.hasError('required')">
                                Street Address is required
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <div class="col-md-4 input-container">
                                <label>City</label>
                                <input class="form-control" type="text" formControlName="city"
                                    [ngClass]="{ 'is-invalid': submitted && personalInfo.get('city')?.errors }">
                                <div *ngIf="submitted && personalInfo.get('city')?.hasError('required')"
                                    class="invalid-feedback">City is required
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="submitted && personalInfo.get('city')?.hasError('pattern')">
                                    Enter only character
                                </div>
                            </div>
                            <div class="col-md-4 input-container input-box">
                                <label>State / Province</label>
                                <select class="form-select classic" formControlName="state"
                                    [ngClass]="{ 'is-invalid': submitted && personalInfo.get('state')?.errors }">
                                    <option style="background: white; color: black;" value="AL">Alabama</option>
                                    <option style="background: white; color: black;" value="AK">Alaska</option>
                                    <option style="background: white; color: black;" value="AZ">Arizona</option>
                                </select>
                                <div *ngIf="submitted && personalInfo.get('state')?.hasError('required')"
                                    class="invalid-feedback">State is required
                                </div>
                            </div>
                            <div class="col-md-4 input-container input-box">
                                <label>ZIP / Postel</label>
                                <input class="form-control" type="text" formControlName="zip"
                                    [ngClass]="{ 'is-invalid': submitted && personalInfo.get('zip')?.errors }">
                                <div *ngIf="submitted && personalInfo.get('zip')?.hasError('required')"
                                    class="invalid-feedback">ZIP code is required
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="submitted && personalInfo.get('zip')?.hasError('pattern')">
                                    Enter only digit
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row mt-2">
                                <div class="col-sm-6 input-container">
                                    <label>SSN (US Only) why?</label>
                                    <input class="form-control" type="text" formControlName="ssn"
                                        [ngClass]="{ 'is-invalid': submitted && personalInfo.get('ssn')?.errors }">
                                    <div *ngIf="submitted && personalInfo.get('ssn')?.hasError('required')"
                                        class="invalid-feedback">SSN is required
                                    </div>
                                </div>
                                <div class="col-sm-6 input-container input-box">
                                    <label>Date of Birth</label>
                                    <input class="form-control" type="date" formControlName="dob"
                                        [ngClass]="{ 'is-invalid': submitted && personalInfo.get('dob')?.errors }">
                                    <div *ngIf="submitted && personalInfo.get('dob')?.hasError('required')"
                                        class="invalid-feedback">Date of birth is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <div class="d-flex justify-content-end col-md-12">
                                <button class="btn btn-dark btn-lg btn-block me-2" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>