.card-body {
    max-width: 1055px;
    margin: 40px auto;
    padding: 10px 10px 40px;
    border: 0;
    background-color: #19322f96;
    color: white;
}

.hadding {
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    padding: 50px;
}

.images {
    width: 200px;
}