@import "_mixins.scss";
@import "_variables.scss";

.nft-faqs-wrap {
    background-color: $second-color;
    padding-top: 250px;
    padding-bottom: 60px;

    .title {
        font-weight: 500;
        color: $white-color;
        font-size: 46px;
        letter-spacing: 2px;
    }

    .sol-row {
        @include flexbox();
        max-width: 100%;
        padding-top: 70px;
    }

    .btn-wrap {
        margin-top: 70px;
        position: relative;

        button {
            background-color: transparent;
            border: 2px solid $white-color;
            padding: 12px 30px;
            font-weight: 500;
            text-transform: uppercase;
            color: $white-color;
            font-size: 26px;
            letter-spacing: 3px;
        }
    }

    .sol-col {
        flex-basis: 40%;

        &:last-child {
            flex-basis: 60%;
        }
    }

    .text1 {
        font-size: 38px;
        font-weight: 600;
        color: $white-color;
        line-height: 1;
        margin-right: 20px;
    }

    .text2 {
        font-size: 15px;
        font-weight: 300;
        color: $white-color;
        flex-basis: 75%;
    }

    .faq-wrap {
        @include flexbox();
        padding: 95px 0;
        &:last-child{
            padding-bottom:0;
        }
    }

    .ques {
        flex-basis: 50%;
        @include flexbox();
        border-top: 2px solid $white-color;
        padding-top: 20px;
        margin-right: 25px;
    }

    .ans {
        flex-basis: 50%;
        @include flexbox();
        flex-wrap: wrap;
        border-top: 2px solid $white-color;
        padding-top: 20px;
        margin-left: 25px;
    }
}

