@import "_mixins.scss";
@import "_variables.scss";

.site-footer {
    background-color: $black-color;
    padding: 90px 0 50px;

    .footer-list {
        @include flexbox();
        @include align-items(flex-end);
        @include justify-content(space-between);
    }

    ul {
        li {
            margin-bottom: 15px;
        }

        a {
            font-size: 27px;
            font-weight: 300px;
            color: $white-color;
            text-decoration: underline;
        }
    }

    .logo-wrap {
        width: 150px;
        height: 150px;
        margin:auto 0 30px auto;
    }

    .mail-text {
        font-size: 38px;
        font-weight: 300px;
        color: $white-color;
        display: block;
        text-align: right;
    }

    .footer-item {
        &:nth-child(2) {
            ul {
                text-align: center;
            }
        }
    }
}