@import "_mixins.scss";
@import "_variables.scss";

.site-header {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    left: 0;
    @include transition(.4s all ease-in-out);



    .logo {
        text-indent: -99999px;
        background-image: url(../images/logo.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        flex-basis: 13%;
    }

    .header-menu {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        height: 120px;
        @include transition(.4s all ease-in-out);
    }

    &.nav-active {
        background-color: $first-color;
        border-bottom: 1px solid rgb(255, 255, 255,0.7);

        .header-menu {
            height: 80px;
        }
    }

    .site-nav {
        width: 450px;
        height: 100vh;
        background-color: rgba(0,0,0,0.7);
        @include transition(.4s all ease-in-out);
        position: fixed;
        right: -450px;
        top: 0;
        padding: 100px 10px 20px 50px;
        z-index:22;

        li {
            padding-bottom:20px;
            a {
                font-size: 27px;
                font-weight: 300px;
                color: $white-color;
                text-decoration: underline;
            }
        }

        &.active {
            right: 0;
            z-index:-1;
        }
    }

    .menu-toggle {
        .line {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 4px;
            background-color: $white-color;
            @include transition(.2s all ease-in-out);
            transition-delay: -0.5s;
            -webkit-transition-delay: -0.5s;
            opacity: 0.7;
        }

        &.active {
            z-index: 99;

            .line {
                background-color: $white-color;
            }

            .line-1 {
                @include transform(rotate(45deg) translate(0px, 0px));
                top: 7px;
                position: relative;
            }

            .line-2 {
                display: none;
            }

            .line-3 {
                @include transform(rotate(-45deg) translate(0px, 0px));
            }
        }
    }
}