@import "_mixins.scss";
@import "_variables.scss";

.banner-wrap {
    background-image: url(../images/image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    .container {
        height: 100%;
    }

    .banner-content {
        position: absolute;
        bottom: 65px;
        right: 35px;
    }

    .banner-title {
        font-size: 50px;
        font-weight: 500;
        color: $white-color;
    }
}
.nft-sol-wrap {
    background-color: $first-color;
    height: 100vh;
    padding: 80px 0;

    .right-section {
        background-color: $second-color;
        width: 65%;
        position: absolute;
        right: 0;
        padding: 100px 50px;
    }

    .card-list {
        @include flexbox();
        @include justify-content(space-between);
    }

    .card-title {
        font-weight: 500;
        font-size: 27px;
        color: $white-color;
        text-align: center;
        margin-top: 30px;
    }

    .card-item {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            background-image: url(../images/arrow-rt.svg);
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            right: -106px;
            top: 62px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    .btn-wrap {
        position: absolute;
        right: 0;
        bottom: 0;


        @media screen and (min-width:1600px) {
            bottom:-80px;
        }

        button {
            background-color: transparent;
            border: 2px solid $white-color;
            padding: 12px 30px;
            font-weight: 500;
            text-transform: uppercase;
            color: $white-color;
            font-size: 26px;
            letter-spacing: 3px;
        }
    }

    .left-section {
        width: 29%;
        margin-top: 60px;

        .nft-title {
            font-size: 46px;
            font-weight: 500;
            color: $white-color;
            text-transform: uppercase;
            margin-bottom: 30px;
            letter-spacing: 2px;
        }

        .description {
            font-size: 18px;
            font-weight: 300;
            color: $white-color;

            p {
                margin-bottom: 30px;
            }
        }
    }
}
.nft-benefits {
    background-image: url(../images/image-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    .content-wrap {
        position: absolute;
        right: 0;
        width: 52%;
        margin-top: 70px;
    }

    .title {
        font-size: 46px;
        font-weight: 500;
        color: $white-color;
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

    .content-title {
        font-size: 38px;
        font-weight: 300;
        color: $white-color;
        margin-bottom: 8px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        color: $white-color;
        margin-bottom: 25px;
    }

    .content {
        background-color: rgba(50,58,48,0.7);
        padding: 40px 105px 20px 40px;
    }
}
.nft-foundation {
    background-image: url(../images/image-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    .content-wrap {
        position: absolute;
        left: 0;
        width: 46%;
        margin-top: 70px;
        text-align:right;
    }

    .title {
        font-size: 46px;
        font-weight: 500;
        color: $white-color;
        text-transform: uppercase;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

    .content-title {
        font-size: 38px;
        font-weight: 300;
        color: $white-color;
        margin-bottom: 8px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        color: $white-color;
        margin-bottom: 25px;
    }

    .content {
        background-color: rgba(50,58,48,0.7);
        padding: 40px 40px 20px 105px;
    }
}
.social-content {
    background-color: $first-color;
    padding: 100px 0 50px;

    .card-list {
        @include flexbox();
        @include align-items(flex-end);
    }

    .card-item {
        flex-basis: 50%;
    }

    ul {
        @include flexbox();

        a {
            display: inline-block;
            height: 100px;
            width: 100px;
            margin-right: 40px;

            &:before {
                content: "";
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 100px;
                width: 100px;
                position: absolute;
            }

            &.item-1 {
                margin-right: 95px;

                &:before {
                    background-image: url(../images/social-1.svg);
                    height: 155px;
                    width: 155px;
                    background-position: top;
                }
            }

            &.item-2 {
                &:before {
                    background-image: url(../images/discord.svg);
                }
            }

            &.item-3 {
                &:before {
                    background-image: url(../images/twitter.svg);
                }
            }
        }
    }



    .card-title {
        font-size: 46px;
        font-weight: 500;
        color: $white-color;
        text-transform: uppercase;
        text-align: right;
        margin-bottom: 45px;
        letter-spacing: 1px;
        line-height: 62px;
    }

    .description {
        p {
            font-size: 18px;
            font-weight: 300;
            color: $white-color;
            margin-bottom: 30px;
            text-align: right;
        }
    }
}
.nft-form-wrap {
    background-image: url(../images/image-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    .form-wrapper {
        width: 40%;
        padding: 30px 0;
    }

    .title {
        font-size: 50px;
        font-weight: 500;
        color: $white-color;
        margin-bottom: 30px;
    }

    .form-title {
        font-size: 18px;
        font-weight: 300;
        color: $white-color;
    }

    .form-element {
        padding: 10px 0;
    }

    label {
        font-size: 22px;
        font-weight: 300;
        color: $white-color;
        margin-bottom: 10px;
        display: inline-block;
    }

    input {
        background-color: transparent;
        background: transparent;
        border: 2px solid $white-color;
        color: $white-color;
        font-size: 18px;
    }

    button {
        background-color: transparent;
        border: 2px solid $white-color;
        padding: 12px 30px;
        font-weight: 500;
        text-transform: uppercase;
        color: $white-color;
        font-size: 26px;
        letter-spacing: 3px;
        margin-top: 40px;
    }

    .checkbox-wrap {
        @include flexbox();
        padding-top: 20px;
        @include justify-content(space-between);
    }

    .checkbox-item {
        position: relative;
        flex-basis: 47%;

        label {
            font-size: 18px;
            font-weight: 300;
            color: $white-color;
            @include flexbox();

            span {
                flex-basis: 80%;
            }

            &:before {
                background-color: transparent;
                content: "";
                width: 40px;
                height: 40px;
                border: 2px solid $white-color;
                margin-right: 10px;
                margin-top: 5px;
            }
        }
    }

    input[type=checkbox] {
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        opacity: 0;
        top: 5px;
        left: 0;
        padding: 0;
        margin: 0;
    }

    input[type=checkbox]:checked ~ label {
        &:before {
            color: $white-color;
            content: "\2713";
            font-size: 26px;
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
        }
    }
}
.nft-faqs {
    background-color: $second-color;
    padding: 100px 50px;

    .card-list {
        @include flexbox();
    }

    .title {
        font-size: 46px;
        font-weight: 500;
        color: $white-color;
    }

    .card-item {
        flex-basis: 30%;

        &:last-child {
            flex-basis: 70%;
            margin-top: 30px;
        }
    }

    .text1 {
        font-size: 38px;
        font-weight: 600;
        color: $white-color;
        line-height: 1;
        margin-right: 20px;
    }

    .text2 {
        font-size: 15px;
        font-weight: 300;
        color: $white-color;
        flex-basis: 75%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 92px;
        -webkit-line-clamp: 4;
    }

    .read-more {
        font-size: 15px;
        font-weight: 500;
        color: $white-color;
        display: block;
        margin: auto;
        margin-right: 0;
        margin-top: 15px;
    }

    .faq-wrap {
        @include flexbox();
        padding: 25px 0;
    }

    .ques {
        flex-basis: 50%;
        @include flexbox();
        border-top: 2px solid $white-color;
        padding-top: 20px;
        margin-right: 25px;
    }

    .ans {
        flex-basis: 50%;
        @include flexbox();
        flex-wrap: wrap;
        border-top: 2px solid $white-color;
        padding-top: 20px;
        margin-left: 25px;
    }

    .more-faqs {
        background-color: transparent;
        border: 2px solid $white-color;
        padding: 12px 30px;
        font-weight: 500;
        text-transform: uppercase;
        color: $white-color;
        font-size: 26px;
        letter-spacing: 3px;
        margin-top: 40px;
        display: inline-block;
        position: absolute;
        bottom: 0;
    }
}


