@import "_mixins.scss";
@import "_variables.scss";

.nft-solution {
    background-color: $first-color;
    padding-top: 250px;
    padding-bottom: 60px;

    .card-list {
        @include flexbox();
        @include justify-content(space-between);
        max-width: 65%;
    }



    .card-item {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            background-image: url(../images/arrow-rt.svg);
            width: 44px;
            height: 35px;
            background-repeat: no-repeat;
            right: -106px;
            top: 62px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    .title {
        font-weight: 500;
        color: $white-color;
        font-size: 46px;
        letter-spacing: 2px;
    }

    .sol-row {
        @include flexbox();
        @include justify-content(space-between);
        max-width: 90%;
        padding-top: 70px;
    }

    .sol-col {
        flex-basis: 45%;
    }

    .content-title {
        font-weight: 300;
        color: $white-color;
        font-size: 38px;
    }

    p {
        font-weight: 300;
        color: $white-color;
        font-size: 18px;
        padding-top: 20px;
    }

    .sol-wrap {
        padding-top: 80px;
    }

    .btn-wrap {
        margin-top: 70px;
        position:relative;

        button {
            background-color: transparent;
            border: 2px solid $white-color;
            padding: 12px 30px;
            font-weight: 500;
            text-transform: uppercase;
            color: $white-color;
            font-size: 26px;
            letter-spacing: 3px;
        }
    }

    
    }

