/*_Color Variables_*/

$white-color:#ffffff;
$black-color:#000000;
$first-color: #19322f;
$second-color: #323a30;
// responsive variables
$media-phone-min:320px;
$media-phone-max:767px;
$media-tablet-min:768px;
$media-tablet-max:992px;
$media-desktop-min:1024px;
$media-desktop-max:1200px;