.registration-page {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  max-width: 520px;
  margin: 0 auto;
  padding: 10px 10px 20px;
  margin-top: 20px;
  border: 0;
  background-color: #19322f96;
  color: white;
}

.main-row {
  padding: 0px 30px;
}

.hadding {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  padding: 50px;
}

.signin-link {
  color: #ffffff;
  text-decoration: underline !important;
}


.invalid-feedback {
  height: 30px;
  margin-top: 1px;
  position: absolute;
}

.form-wrapper .form-title {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.registration-form .form-group {
  margin-bottom: 30px;
}

.registration-form .form-group input {
  background-color: transparent !important;
  border-radius: 0px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.registration-form .form-group label {
  padding-top: 5px;
}

.registration-form button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 12px 30px 15px;
  font-weight: 500;
  background-color: #19322f;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  box-shadow: none;
  border: 2px solid #ffffff;
  color: #ffffff;
}