.signin-page {
    padding-top: 60px;
    padding-bottom: 60px;
}

.form-wrapper {
    max-width: 520px;
    margin: 0 auto;
    padding: 10px 10px 20px;
    margin-top: 20px;
    border: 0;
    background-color: #19322f96;
    color: white;
}

.main-row {
    padding: 0px 30px;
}

.hadding {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
    padding: 50px;
}

.link {
    color: #ffffff;
    text-decoration: underline !important;
}

.invalid-feedback {
    height: 30px;
    margin-top: 1px;
    position: absolute;
}

.form-wrapper .form-title-area h3 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
}

.forgot-password .form-group {
    margin-bottom: 30px;
}

.forgot-password .form-group input {
    background-color: transparent !important;
    border-radius: 0px;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.forgot-password button {
    border-radius: 0;
    padding: 12px 30px 15px;
    font-weight: 500;
    background-color: #19322f;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1;
    box-shadow: none;
    border: 2px solid #ffffff;
    color: #ffffff;
}