<!-- nft form -->
<div class="nft-form-wrap" id="nftForm">
  <div class="container">
    <div class="form-wrapper">
      <h3 class="title">
        Zyfty NFTs are<br />
        happening now.
      </h3>
      <form #formDirective="ngForm" [formGroup]="emailForm">
        <h3 class="form-title">
          To enquire about creating, buying or selling an NFT,
          please provide some information.
        </h3>
        <div class="checkbox-wrap">
          <div class="checkbox-item">
            <input type="checkbox" formControlName="hasPermission" />
            <label>
                <span>
                    I would like Zyfty to
                    create an NFT for
                    the home I own.
                </span>
            </label>
          </div>
          <div class="checkbox-item">
            <input type="checkbox" formControlName="isInterested" />
            <label>
                <span>
                    I am interested in purchasing an NFT home.
                </span>
            </label>
          </div>
        </div>
        <div class="form-element">
          <label>Name:</label>
          <input type="text" formControlName="name" required />
          <div *ngIf="submitted && emailForm?.get('name')?.hasError('required')" class="text-danger">Name is
            required
          </div>
          <div class="text-danger" *ngIf="emailForm?.get('name')?.hasError('pattern')">
            Enter valid name
          </div>
        </div>
        <div class="form-element">
          <label>Email:</label>
          <input type="text" formControlName="email" required />
          <div *ngIf="submitted && emailForm?.get('email')?.hasError('required')" class="text-danger">Email is
            required
          </div>
          <div class="text-danger" *ngIf="emailForm?.get('email')?.hasError('pattern')">
            Enter valid email
          </div>
        </div>
        <button (click)="saveForm()">SUBMIT</button>
      </form>
    </div>
  </div>
</div>
