<div class="py-5 w-10/12 h-full mx-auto text-white">
  <div class="text-3xl border-b">
    Rental Information
  </div>
  <div class="p-2"></div>
  <button class="flex items-center bg-darkpurple rounded-xl px-3 py-2 text-lg text-white hover:text-black">
    Redeem Rent
  </button>
  <div class="p-2"></div>
  <table class="border">
    <thead>
      <tr>
        <th class="border border-white px-4 py-2">Month</th>
        <th class="border border-white px-4 py-2">Property</th>
        <th class="border border-white px-4 py-2">Funds owed</th>
        <th class="border border-white px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="border-r border-l px-4 py-2">January 2022</th>
        <th class="border-r border-l px-4 py-2">
          1917 Felspar Street, San Diego, CA 92109, San Diego, CA 92109
        </th>
        <th class="border-r border-l px-4 py-2">200 USDC</th>
        <th class="border-r border-l px-4 py-2">
          <button class="flex items-center text-lg text-white underline">
            Redeem All Properties
          </button>
        </th>
      </tr>
      <tr>
        <th class="border-r border-l px-4 py-2">January 2022</th>
        <th class="border-r border-l px-4 py-2">
          1917 Parslef drive, Anneheim, CA 92109, San Diego, CA 92109
        </th>
        <th class="border-r border-l px-4 py-2">
          200 USDC
        </th>
        <th class="border-r border-l px-4 py-2">
          <button class="flex items-center text-lg text-white underline">
            Redeem Rent
          </button>
        </th>
      </tr>
      <tr>
        <th class="border-r border-l px-4 py-2">January 2022</th>
        <th class="border-r border-l px-4 py-2">
          20002 WanderWolf Ct, San Jose, CA 92109, San Diego, CA 92109
        </th>
        <th class="border-r border-l px-4 py-2">
          0 USDC
        </th>
        <th class="border-r border-l px-4 py-2">
          <button class="flex items-center text-lg text-white underline">
            Redeem Rent
          </button>
        </th>
      </tr>
    </tbody>
  </table>
  <div class="p-2"></div>
</div>
