@charset "UTF-8";

/*_Color Variables_*/
/*_Color Variables_*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-weight: 300;
  overflow-x: hidden;
  background: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none !important;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

:focus {
  outline: none;
}

.mobile {
  display: none;
}

.web {
  display: block;
}

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: auto;
  position: relative;
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .container {
    max-width: 1500px !important;
  }
}

@media screen and (min-width: 1921px) and (max-width: 3840px) {
  .container {
    max-width: 2000px !important;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100% !important;
  }
}

.form-popup {
  height: 500px;
  background-color: #19322f;
  padding: 50px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
  display: none;
  z-index: 99;
  border: 1px solid #ffffff;
}

.form-popup:after {
  position: absolute;
  content: "";
  left: 36px;
  top: -26px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom: 12px solid #19322f;
  z-index: 9;
}

.form-popup:before {
  content: "";
  position: absolute;
  left: 35px;
  top: -32px;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.form-popup .form-title {
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
}

.form-popup form {
  text-align: right;
}

.form-popup .form-element {
  padding: 10px 0;
}

.form-popup label {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.form-popup input {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
}

.form-popup button {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 12px 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 3px;
  margin-top: 20px;
}

.nft-sol-wrap .form-popup {
  background-color: #19322f;
  top: 80px;
}

.form-control {
  width: 100%;
}

textarea ::placeholder,
textarea :-webkit-input-placeholder,
textarea :-webkit-input-placeholder,
textarea :-moz-placeholder,
textarea ::-moz-placeholder,
textarea :-ms-input-placeholder {
  font-size: 12px !important;
  padding: 10px !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  appearance: none;
  position: relative;
}

select::-ms-expand {
  display: none;
}

input {
  border: none;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
}

input::placeholder {
  font-size: 12px;
}

input[type=search] {
  font-size: 12px;
}

input[type=search]:-webkit-search-decoration,
input[type=search]:-webkit-search-cancel-button,
input[type=search]:-webkit-search-results-button,
input[type=search]:-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/*_Color Variables_*/
.site-header {
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  background-color: #080404;
}

.site-header .header-menu {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 120px;
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

@media screen and (max-width: 767px) {
  .site-header .header-menu {
    height: 90px;
  }
}

.site-header.nav-active {
  /* background-color: transparent; */
}

.site-header.nav-active .header-menu {
  height: 80px;
}

.site-header .site-nav {
  width: 450px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  position: fixed;
  right: -450px;
  top: 0;
  padding: 100px 10px 20px 50px;
  z-index: 22;
}

.site-header .site-nav li {
  padding-bottom: 20px;
}

.site-header .site-nav li a {
  font-size: 27px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
}

.site-header .site-nav.active {
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .site-header .site-nav {
    right: -100%;
    width: 100%;
    padding: 100px 10px 20px 20px;
  }

  .site-header .site-nav.active {
    right: 0;
  }
}

.site-header .menu-toggle .line {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  transition-delay: -0.5s;
  -webkit-transition-delay: -0.5s;
  opacity: 0.7;
}

.site-header .menu-toggle.active {
  z-index: 99;
}

.site-header .menu-toggle.active .line {
  background-color: #ffffff;
}

.site-header .menu-toggle.active .line-1 {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
  -moz-transform: rotate(45deg) translate(0px, 0px);
  -ms-transform: rotate(45deg) translate(0px, 0px);
  transform: rotate(45deg) translate(0px, 0px);
  top: 7px;
  position: relative;
}

.site-header .menu-toggle.active .line-2 {
  display: none;
}

.site-header .menu-toggle.active .line-3 {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
  -moz-transform: rotate(-45deg) translate(0px, 0px);
  -ms-transform: rotate(-45deg) translate(0px, 0px);
  transform: rotate(-45deg) translate(0px, 0px);
}

/*_Color Variables_*/
.site-footer {
  background-color: #000000;
  padding: 90px 0 50px;
}

@media screen and (max-width: 767px) {
  .site-footer {
    padding: 60px 0;
  }
}

.site-footer .footer-list {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .site-footer .footer-list {
    flex-wrap: wrap;
  }
}

.site-footer ul li {
  margin-bottom: 15px;
}

.site-footer ul a {
  font-size: 19px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
}

.site-footer .logo-wrap {
  width: 150px;
  height: 150px;
  margin: auto 0 30px auto;
}

.site-footer .mail-text {
  font-size: 19px;
  font-weight: 300;
  color: #ffffff;
  display: block;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .site-footer .mail-text , .site-footer .logo-wrap{
    text-align: center;
    margin: 0 auto;
  }
}

.site-footer .footer-item:nth-child(2) ul {
  text-align: center;
}

@media screen and (max-width: 575px) {
  .site-footer .footer-item:nth-child(2) ul{
    text-align: left;
  }
  .site-footer .footer-item:first-child {
    flex-basis: 100%;
    margin: 0 auto;
  }
}

.site-footer .social-content ul {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 -15px !important;
  text-align: left !important;
}
.site-footer .social-content ul li { margin-bottom: 0; }
.site-footer .social-content ul a {
  display: inline-block;
  height: 70px;
  width: 90px;
  margin: 15px 15px 0;
  position: relative;
}
.site-footer .social-content ul a:before {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
}
.site-footer .social-content ul a.medium:before {
  background-image: url(../images/social-1.svg);
}
.site-footer .social-content ul a.twitter:before {
  background-image: url(../images/twitter.svg);
}

/*_Color Variables_*/
.banner-wrap {
  background-image: url(../images/image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.banner-wrap .container {
  height: 100%;
}

.banner-wrap .banner-content {
  position: absolute;
  bottom: 65px;
  right: 15px;
}

@media screen and (max-width: 767px) {
  .banner-wrap .banner-content {
    right: unset;
    left: 15px;
  }
}

.banner-wrap .banner-title {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .banner-wrap .banner-title {
    font-size: 42px;
    line-height: 50px;
  }
}

.nft-sol-wrap {
  background-color: #19322f;
  height: auto;
  padding: 80px 0;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .nft-sol-wrap {
    padding: 60px 0;
  }
}
.nft-sol-wrap .right-section {
  background-color: #210420;
  padding: 50px 50px;
  margin: auto;
  margin: 0 15px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .nft-sol-wrap .right-section {
    width: 65%;
    position: absolute;
    right: 0;
    margin: 100px 0;
    top: 0;
    bottom: 0;
  }
}



.nft-sol-wrap .card-list {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .nft-sol-wrap .card-list {
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
}

.nft-sol-wrap .card-title {
  font-weight: 500;
  font-size: 27px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}

.nft-sol-wrap .card-item {
  position: relative;
}

.card-item-arrow {
  margin-top: -90px;
}

.nft-sol-wrap .card-item:last-child:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .nft-sol-wrap .card-item {
    flex-basis: 60%;
    text-align: center;
    margin-bottom: 90px;
  }

  .nft-sol-wrap .card-list{
    display: block;
  }
  .card-item-arrow {
    margin-top: -60px;
    text-align: center;
    transform: rotate(90deg);
    display: block;
    margin-bottom: 40px;
  }

  .card-item-arrow img{
    display: block;
    margin: 0 auto;
  }

  .nft-sol-wrap .card-item:last-child {
    margin-bottom: 0;
  }
}

.nft-sol-wrap .btn-wrap {
  position: absolute;
  right: 15px;
  bottom: 0;
}

@media screen and (min-width: 1600px) {
  .nft-sol-wrap .btn-wrap {
    bottom: -80px;
  }
}

.nft-sol-wrap .btn-wrap button {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 12px 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .nft-sol-wrap .btn-wrap {
    bottom: -114px;
    right: 15px;
    left: 15px;
    text-align: left;
  }

  .nft-sol-wrap .btn-wrap button {
    font-size: 16px;
    letter-spacing: 1.8px;
  }
}
@media screen and (min-width: 1200px) {
  .nft-sol-wrap .left-section {
    width: 29%;
    margin: 30px 0;
  }
}



.nft-sol-wrap .left-section .nft-title {
  font-size: 46px;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.nft-sol-wrap .left-section .description {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}

.nft-sol-wrap .left-section .description p {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .nft-sol-wrap .left-section {
    width: 100%;
    margin: 0 0 60px;
  }

  .nft-sol-wrap .left-section .nft-title {
    font-size: 40px;
  }
}

.nft-benefits {
  background-image: url(../images/image-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative;
}
.nft-benefits .content-wrap {
  position: relative;
  padding: 60px 0;
  margin: 0 0 0 auto;
}

@media screen and (min-width: 991px) {
  .nft-benefits .content-wrap {
    width: 52%;
  }
}
@media screen and (max-width: 991px) {
  .nft-benefits .content-wrap { margin: 0 15px; }
}

.nft-benefits .title {
  font-size: 46px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .nft-benefits .title {
    font-size: 40px;
  }
}

.nft-benefits .content-title {
  font-size: 38px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .nft-benefits .content-title {
    font-size: 32px;
  }
}

.nft-benefits p {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 25px;
}

.nft-benefits .content {
  background-color: rgba(33, 4, 32, 0.7);
  padding: 40px 105px 20px 40px;
}

@media screen and (max-width: 767px) {
  .nft-benefits .content {
    padding: 30px;
  }
}

.nft-foundation {
  background-image: url(../images/image-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  position: relative;
}

.nft-foundation .content-wrap {
  position: relative;
  width: 46%;
  text-align: right;
  padding: 60px 0;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 991px) {
  .nft-foundation .content-wrap {
    width: auto;
    margin: 0 15px;
  }
}

.nft-foundation .title {
  font-size: 46px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
  .nft-foundation .title {
    font-size: 40px;
  }
}

.nft-foundation .content-title {
  font-size: 38px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
  .nft-foundation .content-title {
    font-size: 32px;
  }
}

.nft-foundation p {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 25px;
}

.nft-foundation .content {
  background-color: rgba(33, 4, 32, 0.7);
  padding: 40px 40px 20px 105px;
}

@media screen and (max-width: 991px) {
  .nft-foundation .content {
    padding: 30px;
  }
}

.social-content .card-list {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 991px) {
  .social-content .card-list {
    flex-wrap: wrap;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.social-content .card-item {
  flex-basis: 50%;
}

@media screen and (max-width: 991px) {
  .social-content .card-item {
    flex-basis: 100%;
  }
}

.social-content .card-title {
  font-size: 46px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 45px;
  letter-spacing: 1px;
  line-height: 62px;
}

.social-content .description p {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: right;
}


.nft-faqs {
  background-color: #210420;
  padding: 100px 0px;
}

.nft-faqs .title {
  font-size: 46px;
  font-weight: 500;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .nft-faqs .title {
    font-size: 40px;
  }
}
.nft-faqs .card-item {
  flex-basis: 30%;
}
.nft-faqs .card-item:last-child {
  flex-basis: 70%;
  margin-top: 30px;
}

@media screen and (max-width: 991px) {
  .nft-faqs .card-item {
    flex-basis: 100%;
  }

  .nft-faqs .card-item:last-child {
    flex-basis: 100%;
    margin-top: 0;
  }
}

.nft-faqs .text1 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1;
  margin-right: 20px;
}

.nft-faqs .text2 {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  flex-basis: 75%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 92px;
  -webkit-line-clamp: 4;
}

.nft-faqs .read-more {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  display: block;
  margin: auto;
  margin-right: 0;
  margin-top: 15px;
}

.nft-faqs .more-faqs {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 12px 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 3px;
  margin-top: 40px;
  display: inline-block;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 991px) {
  .nft-faqs {
    padding: 60px 0 60px;
  }
  .nft-faqs .read-more {
    width: 100%;
    padding-left: 50px;
  }
  .nft-faqs .more-faqs {
    position: unset;
    margin-top: 0;
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media screen and (min-width: 991px) {
  .nft-faqs .card-list {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nft-faqs .card-list {
    flex-wrap: wrap;
  }
  .nft-faqs .text2 {
    flex-basis: 83%;
    height: auto;
  }
}

.nft-faqs .faq-wrap {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 0 50px 0;
}

@media screen and (max-width: 767px) {
  .nft-faqs .faq-wrap {
    flex-wrap: wrap;
  }
}

.nft-faqs .ques {
  flex-basis: 50%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-top: 2px solid #ffffff;
  padding-top: 20px;
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  .nft-faqs .ques {
    flex-basis: 100%;
    margin-right: 0;
    align-items: center;
  }
}

.nft-faqs .ans {
  flex-basis: 50%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #ffffff;
  padding-top: 20px;
  margin-left: 25px;
}
@media screen and (max-width: 767px) {
  .nft-faqs .ans {
    margin-top: 20px;
    margin-left: 0;
    flex-basis: 100%;
  }
}

/*_nft-founder_*/
.justify-content-end {
  justify-content: end !important;
}

.nft-founder-wrap {
  background-color: #210420;
  padding-top: 200px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .nft-founder-wrap {
    padding-top: 120px;
  }
}

.nft-founder-wrap .title {
  font-weight: 500;
  color: #ffffff;
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .nft-founder-wrap .title {
    font-size: 30px;
  }
}

.nft-founder-wrap .content p {
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
}

.nft-founder-wrap .founder-row .founder-col .founder-wrap .content-popup {
  display: none;
  width: 531px;
  height: 455px;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 99;
}

.nft-founder-wrap .founder-row .founder-col:last-child .founder-wrap .content-popup {
  left: auto;
  right: 40%;
}

.nft-founder-wrap .content-popup .title {
  font-weight: 300;
  color: #000000;
  font-size: 15px !important;
  line-height: normal !important;
  margin-bottom: 30px;
}

.nft-founder-wrap .content-popup li {
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  margin-bottom: 10px;
}

.nft-founder-wrap .content-popup li:before {
  content: ">";
  margin-right: 5px;
  font-size: 16px;
}

.nft-founder-wrap .content-popup .linkedin-text {
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  position: absolute;
  bottom: 45px;
}

@media screen and (max-width: 767px) {
  .nft-founder-wrap .founder-row .founder-col .founder-wrap .content-popup {
    width: auto;
    height: auto;
    top: 50%;
    right: 0 !important;
    left: 0 !important;
  }
  .nft-founder-wrap .founder-row .founder-col .founder-wrap .content-popup ul {
    margin-bottom: 50px;
  }

  .nft-founder-wrap .content-popup .linkedin-text {
    bottom: 20px;
  }
}

.nft-founder-wrap .img-box {
  position: relative;
}

.nft-founder-wrap .founder-row .founder-col .img-box:hover .content-popup {
  display: block;
}

@media screen and (max-width: 767px) {
  .nft-founder-wrap .img-box {
    width: 100%;
    height: 100%;
  }
}

.nft-founder-wrap .meta {
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
  text-align: right;
  margin-top: 15px;
}

.nft-founder-wrap .meta .position {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #ffffff;
}

.nft-founder-wrap .founder-row {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 -15px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nft-founder-wrap .founder-row {
    flex-wrap: wrap;
  }
}

.nft-founder-wrap .founder-wrap {
  padding: 75px 0;
}

.nft-founder-wrap .founder-col:first-child .founder-wrap:first-child {
  padding-top: 0;
}

@media screen and (min-width: 767px) {
  .nft-founder-wrap .founder-col:last-child .founder-wrap:first-child {
    margin-top: 140px;
  }
}

@media screen and (max-width: 767px) {
  .nft-founder-wrap .founder-wrap {
    padding: 40px 0;
  }

  .nft-founder-wrap .founder-col .content {
    padding: 50px 0 80px;
  }
}

.nft-founder-wrap .founder-col {
  flex-basis: 47%;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .nft-founder-wrap .founder-col {
    flex-basis: 100%;
  }
}

/*_Color Variables_*/
.nft-solution {
  background-color: #19322f;
  padding-top: 250px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .nft-solution {
    padding-top: 180px;
  }
  .nft-solution .title br {display: none}
}

.nft-solution .card-list {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  max-width: 880px;
}

@media screen and (max-width: 767px) {
  .nft-solution .card-list {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 575px) {
  .nft-solution .card-list {
    display: block;
    text-align: center;
  }
}

.nft-solution .card-item {
  position: relative;
  width: 120px;
}

.nft-solution .card-item:after {
  content: "";
  position: absolute;
  background-image: url(../images/arrow-rt.svg);
  width: 44px;
  height: 35px;
  background-repeat: no-repeat;
  right: -115%;
  top: 50px;
}

.nft-solution .card-item:last-child:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .nft-solution .card-item {
    flex-basis: 25%;
    margin: 0 auto;
  }

  .nft-solution .card-item:after {
    background-size: contain;
    right: -40px;
    top: 65px;
    width: 28px;
    height: 22px;
  }
}

@media screen and (max-width: 575px) {
  .nft-solution .card-item:not(:last-child) {
    padding-bottom: 50px;
    margin-bottom: 35px;
  }
  .nft-solution .card-item:after {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    transform: rotate(90deg);
  }
}

.nft-solution .title {
  font-weight: 500;
  color: #ffffff;
  font-size: 46px;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .nft-solution .title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

.nft-solution .sol-row {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  max-width: 90%;
  padding-top: 70px;
}
@media screen and (max-width: 1200px) {
  .nft-solution .sol-row {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .nft-solution .sol-row {
    max-width: 100%;
    flex-wrap: wrap;
    padding-top: 40px;
  }
}

.nft-solution .sol-col {
  flex-basis: 45%;
}
.nft-solution .sol-col:not(:first-child) {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .nft-solution .sol-col {
    flex-basis: 100%;
  }
  .nft-solution .sol-col:not(:first-child) {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .nft-solution .sol-wrap:not(:first-child) {
    padding-top: 40px;
  }
}

.nft-solution .content-title {
  font-weight: 300;
  color: #ffffff;
  font-size: 38px;
}

@media screen and (max-width: 767px) {
  .nft-solution .content-title {
    font-size: 32px;
  }
}

.nft-solution p {
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  padding-top: 20px;
}

.nft-solution .sol-wrap:not(:first-child) {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .nft-solution .sol-wrap:not(:first-child) {
    padding-top: 40px;
  }
}

.nft-solution .btn-wrap {
  margin-top: 70px;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .nft-solution .btn-wrap {
    margin-top: 40px;
  }
}

.nft-solution .btn-wrap button {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 12px 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .nft-solution .btn-wrap button {
    font-size: 16px;
    letter-spacing: 1.8px;
  }
}

/*_Color Variables_*/
.nft-faqs-wrap {
  background-color: #210420;
  padding-top: 250px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap {
    padding-top: 120px;
  }
}

.nft-faqs-wrap .title {
  font-weight: 500;
  color: #ffffff;
  font-size: 46px;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap .title {
    font-size: 40px;
  }
  .nft-faqs-wrap .title br { display: none; }
}

.nft-faqs-wrap .sol-row {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 100%;
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap .sol-row {
    flex-wrap: wrap;
  }
}

.nft-faqs-wrap .btn-wrap {
  margin-top: 70px;
  position: relative;
  display: inline-block;
}

.nft-faqs-wrap .btn-wrap button {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 12px 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 3px;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap .btn-wrap button {
    font-size: 16px;
    letter-spacing: 1.8px;
  }
}

.nft-faqs-wrap .sol-col {
  flex-basis: 40%;
}

.nft-faqs-wrap .sol-col:last-child {
  flex-basis: 60%;
  padding-top: 90px;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap .sol-col {
    flex-basis: 100%;
  }

  .nft-faqs-wrap .sol-col:last-child {
    flex-basis: 100%;
    padding-top: 0;
  }
}

.nft-faqs-wrap .text1 {
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1;
  margin-right: 20px;
}

.nft-faqs-wrap .text2 {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  flex-basis: 75%;
}

.nft-faqs-wrap .faq-wrap {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 0 95px 0;
}

.nft-faqs-wrap .faq-wrap:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap .faq-wrap {
    padding: 10px 0 50px 0;
  }
  .nft-faqs-wrap .faq-wrap {
    flex-wrap: wrap;
  }
}

.nft-faqs-wrap .ques {
  flex-basis: 50%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-top: 2px solid #ffffff;
  padding-top: 20px;
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap .ques {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.nft-faqs-wrap .ans {
  flex-basis: 50%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #ffffff;
  padding-top: 20px;
  margin-left: 25px;
}

@media screen and (max-width: 767px) {
  .nft-faqs-wrap .ans {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .nft-faqs-wrap .text2 {
    flex-basis: 83%;
  }
}

@media screen and (max-width: 575px) {
  .nft-sol-wrap .left-section .nft-title, div:not(.content-popup) .title,
  .nft-form-wrap .title, .social-content .card-title{
    font-size: 35px !important;
    line-height: 46px !important;
    margin-bottom: 30px !important;
  }
  .title br {
    display: none;
  }

  .nft-benefits p, .nft-sol-wrap .left-section .description { font-size: 16px; }

  .nft-foundation .content-title { font-size: 25px; }
}

/*# sourceMappingURL=main.css.map */
