<div class="container-fluid banner-wrap pt-4 main-div">
    <div class="col d-flex justify-content-center">
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                (click)="onSelect('personalInfo')" checked>
            <label class="form-check-label">
                Personal Information
            </label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                (click)="onSelect('wallet')">
            <label class="form-check-label">
                Wallet
            </label>
        </div>
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3"
                (click)="onSelect('kyc')">
            <label class="form-check-label">
                KYC/AML
            </label>
        </div>
    </div>
    <!-- <div #stepper1 id="stepper1" class="bs-stepper">
        <div class="d-flex justify-content-center">
            <div class="bs-stepper-header">
                <div class="step" data-bs-target="#test-l-1">
                    <button class="step-trigger" (click)="onSelect('personalInfo')">
                        <span class=" bs-stepper-circle">1</span>
                        <span class="bs-stepper-label"> Personal Information</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-bs-target="#test-l-2" style="display:inline-block;">
                    <button class="step-trigger" (click)="onSelect('wallet')">
                        <span class=" bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Wallet</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-bs-target="#test-l-3">
                    <button class="step-trigger" (click)="onSelect('kyc')">
                        <span class=" bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">KYC/AML</span>
                    </button>
                </div>
            </div>
        </div> -->

    <div id="test-l-1" class="row" *ngIf="registrationType === 'personalInfo'">
        <app-personal-information (newItemEvent)="addItem($event)"></app-personal-information>
    </div>
    <div id="test-l-2" class="row" *ngIf="registrationType === 'wallet'">
        <app-wallet></app-wallet>
    </div>
    <div id="test-l-3" class="row" *ngIf="registrationType === 'kyc'">
        <app-kyc></app-kyc>
    </div>
    <!-- </div> -->
</div>