label {
    margin-top: 3px;
    margin-left: 6px;
}

.main-div {
    color: white;
}

.line {
    border-top: 2px solid gray;
    width: 97px;
    margin-top: 15px;
    margin-right: 11px;
}

@media screen and (max-width:768px) {
    .responsive {
        margin-left: 31px;
        margin-right: 25px;
    }

    .form-check-input {
        margin-left: 30px;
    }

    label {
        text-align: center;
    }

    .wallet-label {
        margin-left: 18px;
    }

}