<div class="nft-mp-item-model">
  <div class="container">
    <div class="back-button-wrapper">
      <a href="javascript:void(0)" [routerLink]="['/marketplace']">back to marketplace</a>
    </div>
    <div class="title-area">
      <h2>nft marketplace</h2>
    </div>
    <div class="nft-mp-item-gallery">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
        autoplay="true"
      >
        <div
          ngxSlickItem
          *ngFor="let slide of nftData.imageList; let i = index"
          class="slide"
        >
          <div class="slide-body">
            <div class="slide-item">
              <img
                src="{{ slide.nftImage }}"
                alt=""
                width="100%"
                (click)="openImage(i)"
              />
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>

    <div class="nft-mp-item-media media">
      <div class="media-header">
        <div class="meta-link">
          <span class="owned-by">Owned by <a>Zyfty</a> </span>
        </div>
      </div>
      <div class="media-body">
        <div class="end-date">
          <i class="fa fa-clock"></i> sale ends {{moment(nftData.saleEndsDate).format('LLL')}}
        </div>
        <div class="more-detail">
          <ul>
            <li>Auction Date: {{moment(nftData.auctionDate).format('LLL')}}</li>
            <li>Minimum Offer: {{nftData.minimumOffer}}</li>
            <li>Currency: {{nftData.currency}}</li>
          </ul>
        </div>
        <div class="action-block">
          <a class="buy-btn">Buy Now</a>
          <a class="offer-btn">make offer</a>
        </div>
      </div>
    </div>

    <div class="nft-mp-item-detail">
      <div class="title">{{nftData.address}},{{nftData.city}},{{nftData.state}} {{nftData.zip}}</div>
      <div class="sub-detail">
        <span>{{nftData.propertyType}}</span>
        <span>{{nftData.bedRooms}} bedrooms</span>
        <span>{{nftData.bathRooms}} bathrooms</span>
        <span>{{nftData.livingArea}} Sq Ft</span>

        <a (click)="openPurchaseManifest(modalData)">Purchase Manifest<span class="info-icon"></span></a>


      </div>
      <ng-template #modalData let-modal>
        <div class="modal-header">
          <div class="modal-title">Sale Ends July 4, 2022 at 7:00 pm PDT</div>
        </div>
        <div class="modal-body">
          <ul>
            <li>Address: <span>{{nftData.address}}</span></li>
            <li>Title report <span>{{nftData.address}}</span></li>
            <li>Home inspection report <span>{{nftData.address}}</span></li>
            <li>CCR’s/community documents <span>{{nftData.address}}</span></li>
            <li>HOA documents <span>{{nftData.address}}</span></li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button>
        </div>
      </ng-template>
      <div class="all-details-list">
        <ul>
          <li>Living Area: <span>{{nftData.livingArea}} Sq Ft  </span></li>
          <li>Lot Size: <span>  {{nftData.lotSize}} Sq Ft</span></li>
          <li>Total Rooms:  <span>  {{nftData.totalRooms}}</span></li>
          <li>Bedrooms:  <span> {{nftData.bedRooms}}</span></li>
          <li>Bathrooms:  <span>  {{nftData.bathRooms}} </span></li>
          <li>Stories:  <span>  {{nftData.stories}}</span></li>
          <li>Year Built:  <span> {{nftData.yearBuilt}}</span></li>

          <li>Property Type:  <span>{{nftData.propertyType}}</span></li>
        </ul>
        <ul>
          <li>Zoning: <span> {{nftData.zoning}} </span></li>
          <li>HOA Name: <span> {{nftData.hoaName}} </span></li>
          <li>HOA Fee: <span> {{nftData.hoaFee}}</span></li>
          <li>HOA Inculdes: <span> {{nftData.hoaInculdes}}</span></li>
          <li>Tax Year:  <span>{{nftData.taxYear}} </span></li>
          <li>Tax Amount: <span> $ {{nftData.taxAmount}}</span></li>
          <li>Property in Flood Zone:  <span>{{nftData.propertyInFloodZone}} </span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
