<div class="nft-marketplace">
  <div class="container">
    <div class="title-area">
        <h2>nft marketplace</h2>
    </div>
    <div class="nft-mp-items">
         <div class="mp-item" *ngFor="let mpItem of mpItmes" (click)="triggerModal(modalData)">
           <div class="item-figure">
             <img src="{{ mpItem.img }}" alt="" width="100%">
           </div>
           <div class="item-info">
             <h3>{{ mpItem.name }}</h3>
           </div>
         </div>
    </div>

    <br><br/>

    <ng-template #modalData let-modal>
      <div class="nft-mp-item-model">
        <div class="title-area">
          <h2>nft marketplace model</h2>
        </div>
        <div class="nft-mp-item-gallery">
          <ngx-slick-carousel  class="carousel"
                               #slickModal="slick-carousel"
                               [config]="slideConfig"
                               (init)="slickInit($event)"
                               (breakpoint)="breakpoint($event)"
                               (afterChange)="afterChange($event)"
                               (beforeChange)="beforeChange($event)"
                               autoplay="true">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide-item">
              <div class="slide-body">
                <div class="slide-figure">
                  <img src="{{ slide.img }}" alt="" width="100%">
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>

        <!--         <button (click)="addSlide()">Add</button>-->
        <!--         <button (click)="removeSlide()">Remove</button>-->
        <!--         <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>-->
        <!--         <button (click)="slickModal.unslick()">unslick</button>-->

        <div class="nft-mp-item-media media">
          <div class="media-header">
            <div class="meta-link">
              <span class="owned-by">Owned by <a href="#">SpaceVault</a> </span>
              <span class="views"><i class="fa fa-eye"></i> 7.0K views </span>
              <span class="likes"><i class="fa fa-heart"></i> favorites</span>
            </div>
          </div>
          <div class="media-body">
            <div class="end-date"><i class="fa fa-clock"></i> sale ends july 3, 2022 at 7:12pm PST </div>
            <div class="more-detail">
              <ul>
                <li>Auction Date: TDB</li>
                <li>Minimum Offer: TDB</li>
                <li>Currency: USDC</li>
              </ul>
            </div>
            <div class="action-block">
              <a class="buy-btn" href="#">Buy Now</a>
              <a class="offer-btn" href="#">make offer</a>
            </div>
          </div>
        </div>

        <div class="nft-mp-item-detail">
          <div class="title">1917 Felpar St., Unit 5, San Diego, CA 92109</div>
          <div class="sub-detail">
            <span>condo</span>
            <span>3 beds</span>
            <span>2.5 baths</span>
            <span>1624 Sq Ft</span>
            <a href="#">see all Details</a>
          </div>
          <div class="all-details-list">
            <ul>
              <li>Living Area <span>1,624 Sq.Ft</span></li>
              <li>Lot Size <span>7,793 Sq.Ft</span></li>
              <li>Total Rooms <span>--</span></li>
              <li>Bedrooms <span>3</span></li>
              <li>Bathrooms <span>2.5</span></li>
              <li>Stories <span>--</span></li>
              <li>Your Built <span>1,624 Sq.Ft</span></li>
              <li>Property Type <span>condo</span></li>
            </ul>
            <ul>
              <li>Zoning <span>R-1:SINGLE FAM_RES</span></li>
              <li>HOA Name <span>--</span></li>
              <li>HOA Fee <span>--</span></li>
              <li>HOA Inculdes <span>--</span></li>
              <li>Tax Year <span>2021</span></li>
              <li>Tax Amount <span>$10,432</span></li>
              <li>Property in Flood Zone <span>No</span></li>

            </ul>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
