<div class="nft-marketplace">
  <div class="container">
    <div class="title-area">
        <h2>nft marketplace</h2>
    </div>
    <div class="nft-mp-items row">
         <div class="mp-item" *ngFor="let mpItem of mpItmes" (click)="fnDetails(mpItem.id)">
           <div class="item-figure">
             <img src="{{ mpItem.img }}" alt="" width="100%">
           </div>
           <div class="item-info">
             <h3>{{ mpItem.name }}</h3>
           </div>
         </div>
    </div>
  </div>
</div>
