<header class="site-header">
    <div class="container">
        <div class="header-menu">
            <div class="logo">
                <a href="javascript:void(0)" [routerLink]="['/']">
                    <h1 class="logo">zyfty</h1>
                </a>
            </div>
            <div class="nft-link"><a [routerLink]="['.']" [fragment]='"nftForm"'>NFTs are
                    happening NOW - Click here</a></div>
            <nav class="primary-nav">
                <span class="menu-toggle">
                    <span class="line-1 line"></span>
                    <span class="line-2 line"></span>
                    <span class="line-3 line"></span>
                </span>
                <ul class="site-nav">
                    <li class="list-items">
                        <a href="javascript:void(0)" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="list-items">
                        <a href="javascript:void(0)" [routerLink]="['/about']">About</a>
                    </li>
                    <li class="list-items">
                        <a href="javascript:void(0)" [routerLink]="['/founders']">Founders</a>
                    </li>
                    <li class="list-items">
                        <a href="javascript:void(0)" [routerLink]="['/faqs']">FAQs</a>
                    </li>
                    <li class="list-items">
                        <a href="javascript:void(0)" [routerLink]="['.']" [fragment]='"nftForm"'> Get Started</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>