<div class="py-5 w-10/12 h-full mx-auto text-white">
  <div class="text-3xl border-b">
    KYC Overview
  </div>
  <div class="p-3"></div>
  <div class="grid grid-cols-2">
    <div class="flex">
      <div>
        <span class="text-lg">Verification Status: </span>
        <span class="text-md font-bold">{{ verifiedStr() }}</span>
      </div>
    </div>
    <div>
      <ng-container *ngIf="!verified">
        <p>Verify your account here </p>
        <div class="p-2"></div>
        <app-kyc></app-kyc>
      </ng-container>
    </div>
  </div>
</div>
