/* MODAL STYLES
-------------------------------*/
nft-modal {
  /* modals are hidden by default */
  display: none;

  .nft-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: calc(768px + 480px);
    width: calc(100vw - (72px * 2));

    /* z-index must be higher than .nft-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    //overflow: auto;

    .nft-modal-body {
      background: #fff;

      button.closed {
        position: absolute;
        top: 16px;
        right: -40px;
        border: none;
        background-image: none;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        svg {
          font-size: 24px;
          color: rgb(255, 255, 255);
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  .nft-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
  }
}

body.nft-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
