<div class="nft-faqs-wrap">
    <div class="container">
        <div class="sol-row">
            <div class="sol-col">
                <h2 class="title">
                    FREQUENTLY<br />
                    ASKED<br />
                    QUESTIONS
                </h2>
                <div class="btn-wrap">
                    <a href="mailto:info@zyfty.io" target="_blank"><button class="request-btn">REQUEST WHITEPAPER</button></a>
                </div>
            </div>
            <div class="sol-col">
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            What happens if I buy an NFT but then
                            decide I don’t want to own an NFT lease
                            but would rather just own the title?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">
                            An NFT holder can elect to redeem their
                            NFT at any point during the lease term
                            with Zyfty. This will cause the NFT to be
                            destroyed. See white paper and for details.
                        </span>
                    </div>
                </div>
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            Can I look at the actual home representing
                            the NFT before I enter into the purchase
                            process (aka before I bid)?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">
                            Most likely, yes. However, much like the
                            traditional sales process, the extent to
                            which viewings will be offered is up to the
                            seller of the NFT.
                        </span>
                    </div>
                </div>
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            Is there an escrow process upon an offer
                            being accepted to purchase an NFT?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">

                            Yes, there is an escrow process that is
                            very similar to the current marketplace.
                            Upon an offer, or bid for the home, a small
                            amount of currency will be held in escrow
                            as a “soft” deposit. Upon acceptance of
                            an offer by the seller, an additional amount
                            will be added to the “soft” deposit along
                            with a “hard” deposit later in the escrow
                            period.
                            Like all real estate transactions, the length
                            of the escrow period as well as “soft” and
                            “hard” deposit amounts vary based on the
                            NFT seller’s purchasing criteria. However,
                            know that the NFT can transfer in less
                            than a day.
                        </span>
                    </div>
                </div>
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            How do I receive information regarding
                            the home?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">

                            In addition to the information noted in the
                            NFT home listing on the Zyfty Marketplace,
                            potential NFT buyers may purchase a
                            “manifest” which includes all documents
                            necessary to perform due diligence on the
                            property represented by the NFT.
                        </span>
                    </div>
                </div>
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            How do I pay my taxes and any fees
                            associated with my home?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">

                            The NFT includes mechanisms to property
                            taxes, HOA fees and other regularly
                            recurring home ownership costs.
                        </span>
                    </div>
                </div>
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            Can I make improvements and upgrades
                            to my home?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">
                            An NFT holder can make improvements to
                            the home and engage in other activities
                            with the home just as in standard
                            ownership.
                        </span>
                    </div>
                </div>
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            What type of currency do you accept for
                            an NFT purchase?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">
                            Accepted currencies for purchase and all
                            other payments associated with the NFT
                            are USDC and ETH.
                        </span>
                    </div>
                </div>
                <div class="faq-wrap">
                    <div class="ques">
                        <span class="text1">Q</span>
                        <span class="text2">
                            What type of token base is used for a
                            Zyfty NFT?
                        </span>
                    </div>
                    <div class="ans">
                        <span class="text1">A</span>
                        <span class="text2">
                            Zyfty created its own token base on the
                            Ethereum network.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>