<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-list">
            <div class="footer-item">
                <ul>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/about']">About</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/founders']">Founders</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/faqs']">FAQs</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="redirectToPage()">Get Started</a>
                    </li>
                </ul>
            </div>
            <div class="footer-item">
                <ul>
                    <li>
                        <a href="javascript:void(0)" aria-current="page">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-current="page">Terms of Use</a>
                    </li>
                </ul>
                <div class="social-content">
                    <ul>
                        <li>
                            <a href="https://zyfty.medium.com/" target="_blank" class="medium"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Zyfty_io" target="_blank" class="twitter"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-item">
                <div class="logo-wrap">
                    <a href="javascript:void(0)">
                        <img src="../assets/images/footer-logo.svg" />
                    </a>
                </div>
                <span class="mail-text">Contact</span>
                <a href="mailto:info@zyfty.io" class="mail-text">info@zyfty.io</a>
            </div>
        </div>
    </div>
</footer>
