<div class="py-5 w-10/12 h-full mx-auto text-white">
  <div class="text-3xl border-b">
    Assets Overview
  </div>
  <div class="py-3"></div>
  <div class="grid grid-cols-2">
    <div>
      <span class="text-lg">Wallet Address: </span>
      <span class="text-md font-bold">{{ account | async }}</span>
    </div>
    <div>
      <div class="text-lg">Balances:</div>
      <ng-container *ngIf="infoLoaded">
        <div class="flex border max-w-md items-center space-x-3 p-3">
          <div class="text-center flex cursor-pointer hover:text-darkpurple" (click)="addToWallet()">
            <iconify-icon icon="arcticons:metamask" width="32"></iconify-icon>
          </div>
          <div class="border-r font-bold w-full"> {{ name }} </div>
          <div class="text-md font-bold w-full"> {{ balance }} {{ symbol }}</div>
        </div>
        <div *ngIf="allowTestToken">
          <div class="p-2"></div>
          <div class="flex">
            <button class="bg-darkpurple rounded-xl px-3 py-2 text-lg text-white hover:text-black" (click)="mintMore()">
              Mint test tokens
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!infoLoaded">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
