<div class="nft-solution">
    <div class="container">
        <div class="card-list">
            <div class="card-item">
                <img src="../../../assets/images/nft-1.svg" />
            </div>
            <div class="card-item">
                <img src="../../../assets/images/nft-2.svg" />
            </div>
            <div class="card-item">
                <img src="../../../assets/images/nft-3.svg" />
            </div>
        </div>
        <div class="sol-row">
            <div class="sol-col">
                <h2 class="title">
                    NFT RESIDENTIAL<br />
                    REAL ESTATE<br />
                    SOLUTION
                </h2>
                <div class="btn-wrap">
                    <button class="request-btn">REQUEST WHITEPAPER</button>
                    <div class="form-popup">
                        <h2 class="form-title">
                            To receive a copy of the Zyfty whitepaper
                            please provide your name and email.
                        </h2>
                        <form>
                            <div class="form-element">
                                <label>Name:</label>
                                <input type="text" />
                            </div>
                            <div class="form-element">
                                <label>Email:</label>
                                <input type="text" />
                            </div>
                            <button>SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sol-col">
                <div class="sol-wrap">
                    <h3 class="content-title">The Future is Simple</h3>
                    <p>
                        Traditional real estate sales involve many parties including
                        title, escrow, brokerage, governmental agencies and others.
                        The Zyfty solution involves the seller, the buyer and their crypto
                        wallets. It’s that simple.
                    </p>
                </div>
                <div class="sol-wrap">
                    <h3 class="content-title">Process</h3>
                    <p>
                        Zyfty acquires residential properties and then creates Ethereum based NFTs representing long term leases of up to 99 years.  These NFTs may be held by the NFT owner, sold on Zyfty or any compatible NFT marketplace, or transferred via a direct person to person transaction.  
                    </p>
                </div>
                <div class="sol-wrap">
                    <h3 class="content-title">Private, Fast, Liquid</h3>
                    <p>
                        Zyfty NFTs provide privacy, as any public record search yields Zyfty as both the title holder and the lessee.
                    </p>
                    <p>Zyfty NFTs can transfer instantaneously with a transaction cost as little as 0.5%.</p>
                    <p>
                        Zyfty NFTs have transparent, detailed listing information.  This allows fast, easy diligence and quick sales, along with exposure to the Ethereum DeFi ecosystem.
                    </p>
                </div>
                <div class="sol-wrap">
                    <h3 class="content-title">Foundation</h3>
                    <p>
                        The Zyfty founders and team have over 100 years of
                        experience in blockchain engineering, real estate brokerage,
                        property acquisition and large scale WEB2 and WEB3
                        development.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>