.nft-market-wrap {
  padding-top: 80px;
  padding-bottom: 0px;

  #loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .nft-search-block {
    background-image: url("../../../assets/images/image-1.jpg");
    background-size: cover;
    background-position: center center;
    padding: 60px 0;

    .nft-search-content {
      padding: 40px;
      text-align: center;
      display: table;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 6px;

      @media screen and (max-width: 768px) {
        padding: 60px 0;
      }

      h2.title {
        font-size: 30px;
        line-height: 1.6;
        margin-bottom: 20px;
        color: white;

        @media screen and (max-width: 768px) {
          font-size: 25px !important;
          margin-bottom: 10px !important;
        }
      }

      .input-group {
        display: flex;
        max-width: 700px;
        margin: 0 auto;
        padding: 0 15px;

        input {
          font-size: 16px;
          line-height: 24px;
          padding: 15px 20px;
          box-shadow: unset;
          &:focus {
            border: 1px solid #ced4da !important;
          }
          @media screen and (max-width: 768px) {
            padding: 10px 15px;
          }
        }

        button.search-btn {
          display: block;
          padding: 15px 20px;
          background-color: white;
          @media screen and (max-width: 768px) {
            padding: 10px 15px;
          }

          svg {
            height: 20px;
            width: 20px;
            color: black;
          }
        }
      }
    }
  }

  .nft-list-block {
    padding: 75px 0;
    // background: #210420;
    @media screen and (max-width: 768px) {
      padding: 50px 0;
    }

    .nft-list {
      margin: 0 -15px;

      .nft-list-item {
        margin: 15px 0;
        display: flex;
        flex-wrap: wrap;

        .list-item-inner {
          border-radius: 10px;
          position: relative;
          z-index: 2;
          height: 100%;
          width: 100%;
          overflow: hidden;
          background: #19322f;
          // box-shadow: rgba(0, 0, 0, .3) 0px 4px 15px;
          // transition: box-shadow 0.25s ease-in-out 0s;

          .img-thumbnail1 {
            padding: 0.25rem;
            max-width: 100%;
            height: 300px;
            overflow: hidden;

            border: 1px solid #19322f;
            border-radius: 0.375rem;

            img {
              height: 100%;
              width: 100%;
            }
          }

          .item-title {
            font-weight: 600;
            font-size: 14px;
            padding: 15px 15px;
            color: #fff;
            // background-color: #e9e8e8;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            span:last-child {
              flex: 0 0 auto;
              font-weight: normal;
              margin-left: 10px;
            }
          }

          .item-token {
            button {
              text-align: center;
              padding: 10px;
              display: block;
              width: 100%;
              background: #210420;
              color: #fff;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
