.nft-market-wrap {
  padding-top: 120px;
  padding-bottom: 0px;

  .nft-search-block {
    background-image: url("../../../assets/images/image-1.jpg");
    background-size: cover;
    background-position: center center;

    .nft-search-content {
      padding: 120px 0;
      text-align: center;

      h2.title {
        font-size: 36px;
        margin-bottom: 20px;
        color: #fff;
      }

      .input-group {
        display: flex;
        max-width: 700px;
        margin: 0 auto;
        padding: 0 15px;

        input {
          font-size: 16px;
          line-height: 24px;
          padding: 15px 20px;
          box-shadow: unset;
          &:focus {
            border: 1px solid #ced4da !important;
          }
        }

        button.search-btn {
          display: block;
          padding: 15px 20px;
          background-color: white;

          svg {
            height: 20px;
            width: 20px;
            color: black;
          }

        }

      }

    }

  }

  .nft-list-block {
    padding: 75px 0;

    .nft-list {
      margin: 0 -15px;

      .nft-list-item {
        display: inline-block;
        padding: 0 15px;
        margin: 15px 0;
        flex-grow: 1;
        height: 100%;
        width: calc(100% * (1 / 4) - 15px);

        .list-item-inner {
          border-radius: 10px;
          position: relative;
          z-index: 2;
          height: 100%;
          width: 100%;
          overflow: hidden;
          background-color: rgb(255, 255, 255);
          box-shadow: rgba(0, 0, 0, .3) 0px 4px 15px;
          transition: box-shadow 0.25s ease-in-out 0s;

          .img-thumbnail {
            height: 300px;
            width: 100%;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
            }
          }

          .title {
            display: block;
            font-weight: 600;
            font-size: 14px;
            padding: 15px 15px;
            color: rgb(4, 17, 29);
            background-color: #e9e8e8;
          }

          .rate {
            font-weight: 600;
            font-size: 12px;
            color: rgb(53, 56, 64);
            padding: 0 15px 15px;
          }
        }
      }
    }
  }

}


