<div class="nft-market-wrap">

  <div class="nft-search-block">
    <div class="container">
      <div class="nft-search-content">
        <h2 class="title">Find, Create, Own</h2>
        <div class="input-group">
          <input type="search" id="form1" placeholder="Enter a city or ZIP code" class="form-control" />
          <button type="button" class="search-btn">
            <svg viewBox="0 0 32 32" theme="[object Object]" class="Icon-c11n-8-69-2__sc-13llmml-0 fhGCBg sc-1bvnalc-0 kzKZEl" aria-hidden="true" focusable="false" role="img">
              <path stroke="none" d="M29.41,26.59,23.77,21A12,12,0,0,0,14,2c-.17,0-.33,0-.5,0s-.33,0-.5,0A11,11,0,0,0,2,13c0,.17,0,.33,0,.5s0,.33,0,.5a12,12,0,0,0,
                19,9.77l5.64,5.64a2,2,0,0,0,2.82-2.82ZM14,22a8,8,0,1,1,8-8A8,8,0,0,1,14,22Z"></path></svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="nft-list-block">
    <div class="container">
      <div class="nft-list">
        <div class="nft-list-item" *ngFor="let nftItem of nftItems" (click)="openModal(nftItem)" >
          <div class="list-item-inner">
            <img src="{{nftItem.nftImage }}" />
            <div class="title">
              <span>{{ nftItem.address }}, {{ nftItem.zip }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-nft-happening-form></app-nft-happening-form>

  </div>











