<div class="nft-market-wrap">
  <div class="nft-search-block">
    <div class="container">
      <div class="nft-search-content">
        <h2 class="title font-medium">
          Invest in real world assets
        </h2>
        <div class="input-group">
          <input
            type="search"
            id="form1"
            placeholder="Enter a city or ZIP code"
            class="form-control"
            [(ngModel)]="searchText"
            (click)="resetSearch(searchText)"
          />
          <button
            type="button"
            class="search-btn"
            (click)="getSearchText(searchText)"
          >
            <svg
              viewBox="0 0 32 32"
              class="Icon-c11n-8-69-2__sc-13llmml-0 fhGCBg sc-1bvnalc-0 kzKZEl"
              aria-hidden="true"
              focusable="false"
              role="img"
            >
              <path
                stroke="none"
                d="M29.41,26.59,23.77,21A12,12,0,0,0,14,2c-.17,0-.33,0-.5,0s-.33,0-.5,0A11,11,0,0,0,2,13c0,.17,0,.33,0,.5s0,.33,0,.5a12,12,0,0,0,
                19,9.77l5.64,5.64a2,2,0,0,0,2.82-2.82ZM14,22a8,8,0,1,1,8-8A8,8,0,0,1,14,22Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="(!verified && !isFetchingRecord) || !(provider.connected | async)"
    class="my-[-3rem] mx-auto max-w-md rounded-xl bg-darkpurple py-3 text-center text-white"
  >
    <h3 *ngIf="provider.connected | async" class="text-xl">
      Wallet not verified
    </h3>
    <h3 *ngIf="!(provider.connected | async)" class="text-xl">
      Connect wallet to continue
    </h3>
    <p class="p-3"></p>
    <a
      *ngIf="provider.connected | async"
      [routerLink]="['/dashboard']"
      class="rounded-xl bg-darkgreen px-3 py-2 text-lg font-medium text-green-600 hover:text-green-900"
    >
      Verify Wallet
    </a>

    <a
      *ngIf="!(provider.connected | async)"
      (click)="provider.connect()"
      class="rounded-xl bg-darkgreen px-3 py-2 text-lg font-medium text-green-600 hover:text-green-900"
    >
      Connect Wallet
    </a>
  </div>

  <div class="nft-list-block">
    <div class="container">
      <div class="nft-list row">
        <div class="d-flex justify-content-center">
          <span class="sr-only" id="loading" *ngIf="isFetchingRecord"></span>
          <h3 *ngIf="nftItems.length == 0 && !isFetchingRecord">
            No Data Found
          </h3>
        </div>
        <div
          class="nft-list-item col-xl-3 col-lg-4 col-md-6"
          *ngFor="let nftItem of nftItems; let i = index"
          (click)="openModal(i)"
        >
          <div class="list-item-inner flex flex-col">
            <div class="img-thumbnail1">
              <img src="{{ nftItem.thumbnailImage.nft_image }}" />
            </div>
            <div class="item-title">
              <span
                >{{ nftItem.address }} {{ nftItem.state }}
                {{ nftItem.zip }}</span
              >
              <span>6.8% CAP</span>
            </div>
            <div class="flex-1"></div>
            <div class="item-token bg-darkpurple text-lightestpurple hover:text-lighterpurple">
              <div *ngIf="chainNFT.length >= nftItem.id">
                <button>
                  {{ chainNFT[nftItem.id - 1].tokensLeft }} Tokens at USDC
                  {{ chainNFT[nftItem.id - 1].pricePer }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-nft-happening-form></app-nft-happening-form>
</div>
