<div class="justify-content-center mt-4 mb-4">
    <div class="col-md-12 registration-form">
        <div class="card-body">
            <h3 class="text-center hadding">Settings</h3>
            <div class="row main-row">
                <div class="col-12 mt-4 font">
                    <p>Add your MetaMask wallet address below in order to countinue and receive your Zyfty
                        Tokens.</p>
                </div>
                <div class="row">
                    <div class="mt-2 btn-container">
                        <button type="button" class="btn btn-primary me-2 btn-mobile">MetaMask Wallet Moblie
                            App</button>
                        <span class="btn-mobile">OR</span>
                        <button type="button" class="btn btn-primary ms-2 btn-mobile">Use MetaMask Wallet</button>
                    </div>
                </div>
                <div class="mt-4 font">
                    <p> Choose an option above to add your MetaMask wallet address OR manually enter your MetaMask
                        wallet address below.
                    </p>
                </div>
                <div class="mt-2 font">
                    <p> MetaMask wallet address to receive Zyfty Tokens:
                    </p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>