.card-body {
    max-width: 1055px;
    margin: 40px auto;
    padding: 10px 10px 40px;
    border: 0;
    background-color: #19322f96;
    color: white;
}

.btn-primary {
    background-color: #19322f;
    border-color: #19322f;
}

.hadding {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
    background-color: rgba(33, 4, 32, 0.7);
    padding: 50px;
}

.main-row {
    padding: 50px 50px;
}

.font {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}

.registration-form .form-group input {
    background-color: transparent;
    border-radius: 0px;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.registration-form button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    padding: 11px 25px 11px;
    font-weight: 500;
    background-color: #19322f;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1;
    box-shadow: none;
}

.btn-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}


@media screen and (max-width:768px) {
    .btn-mobile {
        width: 300px;
        margin: 0 !important;
    }

    .btn-container span {
        text-align: center;
        padding: 5px;
    }

    .btn-container {
        flex-direction: column;
        justify-content: center;
    }

}