<div id="nftModalData">
  <button type="button" class="closed" (click)="closeModal()">
    <svg viewBox="0 0 24 24" class="sc-gsDKAQ hDhDYS sc-furwcr kqVGZL" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.8 11.8L4 4l7.8 7.8L4 19.6l7.8-7.8zm0 0l7.8 7.8-7.8-7.8L19.6 4l-7.8 7.8z" stroke="currentColor" stroke-width="2" fill="none"
            stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </button>
  <div class="modal-inner">
    <div class="media-gallery">
      <div class="column">
        <ul class="media-col" *ngIf="selectedNftDetails">
          <li  [ngClass]="{'full-width': i===0}"  class="media-col-item" *ngFor="let nftItem of selectedNftDetails.imageList  let i = index" >
            <figure><img src="{{nftItem.nftImage}}" alt=""></figure>
          </li>
        </ul>
      </div>
    </div>
    <div class="data-gallery">
      <div class="main-header">
        <div class="logo"><img width="150" src="../../assets/images/logo.svg"></div>
        <div class="action-bar">
          <span>Save</span>
          <span>Share</span>
          <span>More</span>
        </div>
      </div>
      <div class="main-summary">
        <div class="primary-data">
            <div class="address-detail">{{selectedNftDetails.address}}, {{selectedNftDetails.city}}, {{selectedNftDetails.state}} {{selectedNftDetails.zip}}</div>
            <div class="sub-detail">
              <span>{{selectedNftDetails.propertyType}}</span>
              <span>{{selectedNftDetails.bedRooms}} bedrooms</span>
              <span>{{selectedNftDetails.bathRooms}} bathrooms</span>
              <span>{{selectedNftDetails.livingArea}} Sq Ft</span>
              <span>{{tokensLeft}} Tokens Left</span>
            </div>
            <div class="contact-buttons">
              <button class="purchase-button" (click)="isLogin(selectedNftDetails.id)">Purchase Due Diligence Package</button>
                <button class="offer-button" (click)="purchaseNft()">Make Offer now! </button>
            </div>
        </div>
        <div class="another-data">
          <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem>
              <a ngbNavLink>Overview</a>
              <ng-template ngbNavContent>
                <i>Note: This property is not currently for sale or for rent on Zillow. The description and property data below may’ve been provided by a third party,
                  the homeowner or public records.</i> <br><br/>
                <div class="main-info-block">WATER VIEWS OF THE BAY AND DOWNTOWN!
                  TWO BALCONIES AND A 2 CAR TANDEM GARAGE! <br><br/>

                  RARELY available, recently remodeled!  <br><br/>

                  Gorgeous home in one of San Diego's best beach communities!
                  Large open floor plan with vaulted ceilings &amp; mass amount of natural light <br><br/>

                  THIS PROPERTY HAS EVERYTHING !! <br><br/>

                  luxury vinyl plank throughout, updated fixtures and remodeled bathrooms
                  remodeled kitchen with premium appliances, Central AC and Heat ..Laundry room in Unit! <br><br/>

                  Perfect for entertaining! All of this within walking distance to the Bay, beach, shops and dining!
                  Property will not last long at this price! <br><br/>

                  NO SMOKING ALLOWED</div><br>

                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                   <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
                <br>

              </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
              <a ngbNavLink>Facts and features</a>
              <ng-template ngbNavContent>
                <ul class="fea-list">
                  <li><span>Living Area:</span> <span>{{selectedNftDetails.livingArea}} Sq Ft </span></li>
                  <li><span>Lot Size:</span> <span> {{selectedNftDetails.lotSize}} Sq Ft</span></li>
                  <li><span>Total Rooms:</span> <span> {{selectedNftDetails.totalRooms}}</span></li>
                  <li><span>Bedrooms:</span> <span> {{selectedNftDetails.bedRooms}}</span></li>
                  <li><span>Bathrooms:</span> <span> {{selectedNftDetails.bathRooms}} </span></li>
                  <li><span>Stories:</span> <span> {{selectedNftDetails.stories}}</span></li>
                  <li><span>Year Built:</span> <span> {{selectedNftDetails.yearBuilt}}</span></li>
                  <li><span>Property Type:</span> <span>{{selectedNftDetails.propertyType}}</span></li>
                  <li><span>Zoning:</span> <span> {{selectedNftDetails.zoning}} </span></li>
                  <li><span>HOA Name:</span> <span> {{selectedNftDetails.hoaName}} </span></li>
                  <li><span>HOA Fee:</span> <span> {{selectedNftDetails.hoaFee}}</span></li>
                  <li><span>HOA Inculdes:</span> <span> {{selectedNftDetails.hoaInculdes}}</span></li>
                  <li><span>Tax Year:</span> <span>{{selectedNftDetails.taxYear}} </span></li>
                  <li><span>Tax Amount:</span> <span> $ {{selectedNftDetails.taxAmount}}</span></li>
                  <li><span>Property in Flood Zone:</span> <span>{{selectedNftDetails.propertyInFloodZone}} </span></li>
                </ul>
              </ng-template>
            </ng-container>
          </nav>

          <div [ngbNavOutlet]="nav" class="mt-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

