#nftModalData {
  display: grid;

  .closed {
    svg {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 15px;
      right: -40px;
      color: white;
      z-index: 2;
      @media screen and (max-width: 991px) {
        position: fixed;
        right: 15px;
        top: 15px;
        padding: 5px;
        background-color: #000;
      }
    }
  }
  .modal-inner {
    overflow: hidden;
    position: absolute;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 50px);
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    transition: transform 0.25s linear;

    @media screen and (max-width: 991px) {
      display: block;
      height: auto;
    }

    .media-gallery {
      overflow-y: scroll;
      height: 100%;
      width: 100%;
      background-color: #fff;

      .column {
        overflow: hidden;

        .media-col {
          display: grid;
          grid-gap: 4px;
          grid-auto-columns: 1fr;

          .media-col-item {
            border-width: 0;
            width: auto;

            &.full-width {
              grid-column: span 2;
              width: 100%;
              height: 460px;

              figure {
                height: 100%;
                width: 100%;
              }
            }

            figure {
              height: 230px;
              overflow: hidden;
              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }

    .data-gallery {
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: 100%;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      max-width: 500px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;

      @media screen and (max-width: 991px) {
        max-width: 100%;
      }

      .main-header {
        height: 60px;
        background: #210420;
        color: #fff;
        width: 100%;
        border-bottom: 1px solid rgb(209, 209, 213);
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .main-summary {
        padding: 25px 15px 0;

        .primary-data {
          .address-detail {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .sub-detail {
            span {
              display: inline-block;
              font-size: 14px;
              line-height: 1;
              margin-right: 10px;
              text-transform: capitalize;
              position: relative;

              &:not(:last-child):after {
                position: absolute;
                content: "";
                height: 100%;
                width: 1px;
                background-color: #c9c9c9;
                right: -5px;
                top: 0;
              }
            }
          }

          .contact-buttons {
            padding: 16px 0px;
            display: flex;

            button.purchase-button {
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              border-radius: 4px;
              user-select: none;
              padding: 9px 16px;
              background-color: rgb(13, 69, 153);
              border: 1px solid rgb(13, 69, 153);
              color: rgb(255, 255, 255);
              margin-right: 8px;
            }

            button.offer-button {
              background-color: rgb(242, 250, 255);
              color: rgb(13, 69, 153);
              border: 1px solid rgb(13, 69, 153);
              border-radius: 4px;
              user-select: none;
              padding: 9px 16px;
              margin-right: 8px;
            }

            button.offer-button-disabled {
              background-color: rgba(242, 250, 255, 0.3);
              color: rgba(13, 69, 153, 0.3);
              border: 1px solid rgba(13, 69, 153, 0.3);
              border-radius: 4px;
              padding: 9px 16px;
              margin-right: 8px;
              pointer-events: all !important;
              cursor: not-allowed;
            }
          }

          .token-block {
            margin-bottom: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #d1d1d5;
            display: flex;
            align-items: center;
            justify-content: end;
            span {
              margin-right: 10px;
            }
            form {
              border: 1px solid #d1d1d5;
              border-radius: 30px;
              padding: 12px 5px;
              input {
                width: 40px;
                height: 15px;
                text-align: center;
                padding: 0;

                &.qty {
                  border-left: 1px solid #d1d1d5;
                  border-right: 1px solid #d1d1d5;
                }
              }
            }
          }
        }
        .another-data {
          overflow-y: scroll;
          height: calc(100vh - 300px);
          position: relative;
          .nav-tabs {
            .nav-link {
              color: rgb(42, 42, 51);
              font-weight: 500;
              font-size: 16px;
            }
          }

          .tab-content {
            font-size: 14px;

            ul.fea-list {
              list-style: none;
              padding-left: 20px;

              li {
                &.sub-title {
                  font-size: 15px;
                  font-weight: 300;
                  list-style: disc;
                }
                margin-bottom: 10px;

                span:first-child {
                  flex: 0 0 100px;
                  margin-right: 3px;
                  color: rgb(42, 42, 51);
                  font-weight: 300;
                  font-size: 13px;
                  line-height: 24px;
                }
              }
            }

            .map-area {
              margin-top: 30px;

              img {
                object-fit: cover;
                object-position: 50% 50%;
                display: block;
                height: 100%;
                width: 100%;
              }
            }

            agm-map {
              height: 300px;
            }
          }
        }
      }
    }
  }
}
